*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f5;
    font-family: "Roobert","SF Pro Text","SF Pro Icons",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto",Arial,"Ubuntu","Cantarell","Oxygen-Sans","Fira Sans","Droid Sans","Helvetica Neue","Helvetica",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a{
    text-decoration: none;
    color: #000;
}

input:focus{
    outline: none;
} 

.neeva .container{
    width: 845px;
    margin-left: 40px;
}

.neeva .container:after{
    content: " ";
    display: block;
    clear: both;
}

.neeva .container .left-section{
    width: 440px;
    float: left;
}

.neeva .container .left-section .logo{
    margin-top: 25px;
}

.neeva .container .right-section{
    width: 405px;
    float: left;
}

.neeva .container .right-section .form{
    width: 405px;
    background-color: #fff;
    
}

.neeva .container .right-section .form .header{
    text-align: center;

}

.neeva .container .right-section .form .header img{
    margin-top: 20px;
}

.neeva .container .right-section .form .header h2{
    color: #2c2e33;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 40px;
}

.neeva .container .right-section .form .header p{
    color: #000;
    font-size: 14px;
    margin-top: 10px;
}

.neeva .container .right-section .form .header p a{
    color: #5c5f67;
    font-size: 14px;
    text-decoration: underline;
}

.neeva .container .right-section .form .input{
    width: 305px;
}

.neeva .container .right-section .form .input input{
    width: 100%;
    margin-left: 50px;
    margin-top: 40px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #dadada;
}

.neeva .container .right-section .form .input input::placeholder{
    font-size: 14px;
    color: #6d6e70;
}

.neeva .container .right-section .form .btn{
    text-align: center;
    margin-top: 30px;
}

.neeva .container .right-section .form .btn button{
    width: 305px;
    padding: 15px;
    border-radius: 100px;
    background-color: #415aff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #415aff;
    cursor: pointer;
}

.neeva .container .right-section .form .btn button i{
    margin-left: 10px;
}

.neeva .container .right-section .form .divider{
    width: 305px;
    height: 1px;
    background-color: #b3b3b3;
    margin: 40px auto;
    position: relative;
}

.neeva .container .right-section .form .text{
    position: absolute;
    top: 360px;
    left: 590px;
    transform: translateY(-50%);
}

.neeva .container .right-section .form .text p{
    background-color: #fff;
    padding: 5px 80px;
    font-size: 14px;
}
.neeva .container .right-section .form .btn-1{
    text-align: center;
    margin-bottom: 10px;
}

.neeva .container .right-section .form .btn-1 button{
    width: 305px;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #dadada;
    background-color: #fff;
    font-size: 16px;
    color: #44464d;
    font-weight: 600;
    cursor: pointer;
}

.neeva .container .right-section .form .btn-1 button svg{
    display: inline-block;
    transform: translate(-40px,6px);
}

.neeva .container .right-section .form .btn-2{
    text-align: center;
    margin-bottom: 10px;
}

.neeva .container .right-section .form .btn-2 button{
    width: 305px;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #dadada;
    background-color: #fff;
    font-size: 16px;
    color: #44464d;
    font-weight: 600;
    cursor: pointer;
}

.neeva .container .right-section .form .btn-2 button svg{
    display: inline-block;
    transform: translate(-40px,6px);
}

.neeva .container .right-section .form .btn-3{
    text-align: center;
    margin-bottom: 10px;
}

.neeva .container .right-section .form .btn-3 button{
    width: 305px;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #dadada;
    background-color: #fff;
    font-size: 16px;
    color: #44464d;
    font-weight: 600;
    cursor: pointer;
}

.neeva .container .right-section .form .btn-3 button svg{
    display: inline-block;
    transform: translate(-25px,6px);
}

.neeva .container .right-section .form .contact{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.neeva .container .right-section .form .contact a{
    color: #5c5f67;
    font-size: 14px;
    text-decoration: underline;
}